.lista-pokemons{
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #c1c1c1;
  margin: 5px;
  padding: 10px;
  text-align: center;
}