        body {
            background-color: #000;
            font-size: 16px;
            width: 100%;
        }
        h1{
            font-family: sans-serif;
        }
        p{
            font-weight: 600;
            width: 3em;
        }
        li{
            line-height: 30px;
            width:max-content;
            padding: 0px 10px
        }
        .amarelo {
            background-color: yellow;
            color: black;
            font-style:italic;
        }
        .vermelho {
            background-color: red;
            color: black;
            font-style:oblique;
        }
        .marrom {
            background-color: saddlebrown;
            color: black;
            }
